{:deps {markdown-clj/markdown-clj {:local/root "."}}
 :tasks
 {test:bb {:doc "Runs tests with babashka"
           :extra-paths ["test"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                        org.clojure/tools.namespace
                        {:git/url "https://github.com/babashka/tools.namespace"
                         :git/sha "3625153ee66dfcec2ba600851b5b2cbdab8fae6c"}}
           :requires ([cognitect.test-runner :as tr])
           :task (apply tr/-main "-d" "test" *command-line-args*)}
  test:clj {:doc "Runs tests with JVM Clojure"
            :task (clojure "-X:test")}
  test:cljs {:doc "Runs tests with ClojureScript"
             :task (clojure "-M:cljs-test")}}}
